@model SchoolLibrary0._1.Models.user

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>user</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.account.account_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.account.account_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.file.file_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.file.file_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.verification.verification_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.verification.verification_code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
