@model IEnumerable<SchoolLibrary0._1.Models.account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Account Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.account_type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.account_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.account_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.account_id })
        </td>
    </tr>
}

</table>
