@model SchoolLibrary0._1.Models.author

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Author Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author_name)
        </dd>

        <dt>
           Author Surname
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author_surname)
        </dd>

        <dt>
           Author Info
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author_info)
        </dd>

        <dt>
           File Link
        </dt>

        <dd>
            @Html.DisplayFor(model => model.file.file_link)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.author_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
