@model IEnumerable<SchoolLibrary0._1.Models.book_category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.book.book_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category.category_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.book.book_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category.category_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.book_category_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.book_category_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.book_category_id })
        </td>
    </tr>
}

</table>
